.formAddPost{
    border-radius: 10px;
    width: 270px;
    padding: 25px;
    border: 1px solid black;
    margin: 30px auto 0 auto;
}
.block_inline{
    display: flex;
    justify-content: space-between;
}